.nav-bar {
  border-bottom: 3px solid #E5E5E5;
  padding: 20px;
}

.nav-bar a {
  font-size: 14px;
  color: #34AC98;
  font-family: calibri;
  font-style: italic;
  margin: 5px;
}

.med-nav {
  display: none;
}

.logo img {
  height: 100px;
  width: 100px;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.food-sense * {
  width: 100%;
  display: block;
}

.sense-note-one, .sense-note-two {
  font-family: calibri;
  font-style: italic;
  padding: 7px;
}

.sense-note-one {
  font-size: 13px;
  background-color: #EEEFF1;
}

.sense-note-two {
  font-size: 10px;
  background-color: #111111;
  color: white;
}

.sense-note-three {
  display: flex;
  justify-content: flex-end;
  font-family: calibri;
  font-size: 8px;
  padding: 7px;
}

.menu-bar {
  display: none;
}

.subscribe {
  border-top: 1px dotted #E5E5E5;
  border-bottom: 1px dotted #E5E5E5;
  padding-bottom: 20px;
}

.sub-intro {
  display: flex;
  font-family: calibri;
  font-style: italic;
  font-size: 12px;
  margin: 10px;
}

.sub-intro img {
  width: 80px;
  height: 60px;
}

.sub-email {
  display: flex;
  justify-content: center;
}

.sub-email * {
  padding: 3px;
}

.sub-email input {
  width: 50%;
  font-family: Arial;
}

.sub-email button {
  width: 20%;
  margin-left: 15px;
  border-radius: 5px;
  background-color: #E1E1E1;
}

.blog {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.blog img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-text {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-title {
  color: #34AC98;
  font-size: 18px;
}

.blog-intro {
  font-size: 15px;
  line-height: 1.5;
}

.blog-date {
  color: #AAAAAA;
  font-size: 15px;
}

.blog-date span {
  color: #34AC98;
}

.footer {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  color: #AAAAAA;
  line-height: 1.5;
  padding: 20px;
  border-top: 2px solid #E5E5E5;
}

.footer a {
  color: #34AC98;
}

.footer img {
  height: 45px;
}




/* for medium size screens */

@media only screen and (min-width: 768px) {
  .nav-bar {
    display: none;
  }

  .med-nav img {
    height: 80px;
  }

  .med-nav {
    display: flex;
    justify-content: space-between;
  }

  .med-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .food-sense {
    position: relative;
  }


  .sense-note-one, .sense-note-two {
    font-family: Palatino;
    padding: 15px;
  }

  .sense-note-one {
    position: absolute;
    bottom: 120px;
    font-size: 25px;
    background-color: #FFFFFF;
    width: 200px;
  }

  .sense-note-two {
    position: absolute;
    bottom: 70px;
    font-size: 20px;
    width: 500px;
  }

  .sense-note-three {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 10px;
    background-color: #E5E5E4;
    border-radius: 5px;
    width: 105px;
  }

  .menu-bar {
    display: flex;
  }
  
  .menu-bar div {
    width: 25%;
    color: #34AC98;
    background-color: #EFF8F7;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-right: 1px solid #D9EFEC;
  }



  .the-blogs, .subscribe, .footer {
    display: flex;
    justify-content: space-between;
  }

  .subscribe, .footer {
    align-items: center;
  }

  .the-blogs {
    align-items: flex-start;
  }

  .sub-intro {
    width: 60%;
  }

  .sub-email {
    height: 30px;
    width: 40%;
  }

  .sub-email input {
    width: 60%;
  }

  .sub-email button {
    width: 30%;
  }

}




